.App{
	background-color: white;
	padding: 2rem;

	>h1{
		position: relative;
		margin-bottom: 3rem;
	}

	#communities{
		display: flex;
		flex-wrap: wrap;
		.community{
			position: relative;
			margin: 1rem auto;
			height: 60vw;
			width: 80vw;
			background-color: white;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 10px;
			box-shadow: 5px 5px 10px gray;
			cursor: pointer;

			.description{
				position: absolute;
				bottom: 0.6rem;
				left: 1rem;
				color: white;

				h2{
					font-size: 1.5rem;
					margin-bottom: 0.3rem;
				}

				p{
					font-size: 1rem;
					margin: 0rem 0rem;
				}
			}
		}
	}
}

.CommunitySpecifics{
	position: fixed;
	left: 40px;
	top: 40px;
	bottom: 40px;
	right: 40px;
	background-color: white;
	outline: none;

	.HouseList{
		margin-left: auto;
		margin-right: auto;
	}
}

.Background{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}